<launch>
  <arg name="namespace" default="mltdma"/>

  <rosparam file="$(find mltdma_project11)/config/costmap.yaml" command="load" ns="$(arg namespace)/costmap/costmap" />
  <node pkg="costmap_2d" type="costmap_2d_node" name="costmap" ns="$(arg namespace)">
    <remap from="costmap/costmap/radar/radar" to="sensors/radar/HaloA/data"/>
  </node>
</launch>
