<launch>
  <arg name="namespace" default="mltdma"/>
  <arg name="ais_input" default="/dev/ttyACM0"/>
  <arg name="ais_input_speed" default="115200" />
  <arg name="wit_input" default="/dev/ttyUSB0"/>
  <arg name="wit_input_speed" default="115200" />

  <group ns="$(arg namespace)">

    <group ns="sensors">
      <node pkg="halo_radar" type="halo_radar" name="halo_radar">
        <param name="frameId" value="$(arg namespace)/radar"/>
      </node>

      <include file="$(find mltdma_project11)/launch/camera.launch">
        <arg name="name" value="front"/>
      </include>

      <node pkg="ais" type="ais_node.py" name="ais" ns="ais">
        <param name="input_type" value="serial"/>
        <param name="input" value="$(arg ais_input)"/>
        <param name="input_speed" value="$(arg ais_input_speed)" />
        <param name="frame_id" value="$(arg namespace)/ais"/>
      </node>

      <node pkg="witmotion" type="witmotion_node.py" name="witmotion">
        <param name="frame_id" value="$(arg namespace)/witmotion"/>
        <param name="port" value="$(arg wit_input)"/>
        <param name="baud" value="$(arg wit_input_speed)"/>
      </node>

    </group>

    <node pkg="udp_bridge" type="udp_bridge_node" name="udp_bridge">
    </node>

    <include file="$(find mltdma_project11)/launch/tf.launch">
      <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <include file="$(find mltdma_project11)/launch/load.launch">
      <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <include file="$(find mltdma_project11)/launch/publish_state.launch">
      <arg name="namespace" value="$(arg namespace)"/>
    </include>

  </group>

</launch>



