<launch>
  <arg name="namespace" default="operator"/>
  <arg name="robotNamespace" default="mltdma"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>

  <param name="/use_sim_time" type="bool" value="true"/>

  <include file="$(find mltdma_project11)/launch/camp.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
  </include>

  <include file="$(find mltdma_project11)/launch/load.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
</launch>
